<?xml version="1.0" encoding="utf-8"?>

<!-- Written by Tim Schreiber
     StackOverflow user 'sakir' is incorrectly claiming that they wrote this code in the following answer: 
         http://stackoverflow.com/questions/31298235/dapper-and-unit-of-work-pattern/31636037
    
     They have never in any way contributed to this code, and the false attribution has been reported to StackOverflow. -->

<configuration>
  <connectionStrings>
    <add name="LosGatos" connectionString="Server=(local);Database=LosGatos;User Id=LosGatosUser;Password=Password123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
